<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- PMG-->
  <configSections>
    <!-- Register WSE config section -->
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;database=nocap;Integrated security=True;" />
    <add name="ConnectionStringFile" connectionString="server=.;database=nocapfile;Integrated security=True;" />
    <!--<add name="ConnectionString" connectionString="server=10.246.66.197;database=NOCAP;uid=sa;Password=N#o#c#a#p_a1n2i3ladm;" />
    <add name="ConnectionStringFile" connectionString="server=10.246.66.197;database=NOCAPFile;uid=sa;Password=N#o#c#a#p_a1n2i3ladm;" />-->
    <!--<add name="ConnectionString" connectionString="server=10.246.66.197;database=NOCAP;uid=sa;Password=N#o#c#a#p_a1n2i3ladm;" />
    <add name="ConnectionStringFile" connectionString="server=10.246.66.197;database=NOCAPFile;uid=sa;Password=N#o#c#a#p_a1n2i3ladm;" />-->
    <!--<add name="ConnectionString" connectionString="server=10.247.173.144;database=cgwa_noc;uid=cgwa_c;Password=NocT*$7#12Ab;" />
    <add name="ConnectionStringFile" connectionString="server=10.247.173.144;database=cgwa_noc_file;uid=cgwa_c;Password=NocT*$7#12Ab;" />-->
  </connectionStrings>
  <appSettings>
    <add key="isSetCookiePath" value="Y" />
    <add key="UserDefiniedCookiePathFilter" value="/VirtualDirectoryToFilter" />
    <add key="NOCAPFilePath" value="F:\NOCAPFile\" />
    <add key="NOCAPDraft" value="NOCAPDraft\" />
    <add key="NOCAPFinal" value="NOCAPFinal\" />
    <add key="NOCAPPDF" value="NOCAPPDF\" />
    <add key="SMSUrl" value="https://smsgw.sms.gov.in/failsafe/HttpLink?username=" />
    <add key="SMSUserName" value="nocagw.auth" />
    <add key="SMSPassword" value="$Gd5Kp%231" />
    <add key="SMSSenderId" value="NOCOTP" />
    <add key="SMSDeptEntityId" value="1001515520000017409" />
    <!-- Sending SMS Alert-->
    <!--<add key="SMSAlertUrl" value="https://smsgw.sms.gov.in/failsafe/HttpLink?username="/>
    <add key="SMSAlertUserName" value="nocagw.auth"/>
    <add key="SMSAlertPassword" value="$Gd5Kp%231"/>
    <add key="SMSAlertSenderId" value="NICSMS"/>-->
    <add key="SMSAlertUrl" value="https://smsgw.sms.gov.in/failsafe/HttpLink?username=" />
    <add key="SMSAlertUserName" value="cgwa.sms" />
    <add key="SMSAlertPassword" value="Ht$3vD%267sZ" />
    <add key="SMSAlertSenderId" value="CGWADL" />
    <!-- Sending Alert Ends-->
    <add key="ReportUserName" value="Administrator" />
    <add key="ReportPassword" value="hnic51112o" />
    <!--<add key="ReportDomain" value="ANIL-PC"/>-->
    <add key="ReportServerUrl" value="http://10.1.14.73/reportserver" />
    <add key="ReportFolderName" value="/NOCAP" />
    <add key="SMTPServerName" value="relay.nic.in" />
    <add key="FromMailAddress" value="no-reply@cgwa-noc.in" />
    <!--<add key="FromMailAddress" value="noc-cgwa@gov.in"/>-->
    <add key="SendEmailEnable" value="Yes" />
    <add key="SendSMSEnable" value="Yes" />
    <add key="SendSMSAlertEnable" value="Yes" />
    <!--Start NSWS PPE Key Value Pairs-->
    <add key="AccessId" value="MIN_TEST_0" />
    <add key="AccessSecret" value="MintesT@1234" />
    <add key="ClientId" value="sws_state" />
    <add key="ClientSecret" value="643790eb-2b2a-4187-8c43-54a663b840eb" />
    <add key="GrantType" value="password" />
    <add key="Username" value="mjs" />
    <add key="Password" value="Mjs@nsws" />
    <add key="DepartmentId" value="M023_D001" />
    <add key="MinistryId" value="M023" />
    <add key="LicenseIdIND" value="M023_D001_A002" />
    <add key="LicenseIdINF" value="M023_D001_A001" />
    <add key="LicenseIdMIN" value="M023_D001_A003" />
    <add key="WingId" value="M023_D001_WNG01" />
    <add key="IsNSWSEnalbe" value="Yes" />
    <add key="redirectionUrl" value="http://trg.cwc.gov.in/NOCAPTest/NSWS/NSWSToNOCAP.aspx?UserName=" />
    <add key="DocumentID" value="MDOC000099" />
    <add key="NSWSIpAddress" value="164.100.68.98,65.1.184.145,65.1.122.96" />
    <!--End NSWS PPE Key Value Pairs-->
    <!--Start NSWS Production Key Value Pairs-->
    <!--<add key="AccessId" value="MIN_MJS"/>
    <add key="AccessSecret" value="Jsh#201008"/>
    <add key="ClientId" value="sws_state"/>
    <add key="ClientSecret" value="643790eb-2b2a-4187-8c43-54a663b840eb"/>
    <add key="GrantType" value="password"/>
    <add key="Username" value="jalshakthi"/>
    <add key="Password" value="JalNSWS@2022"/>

    <add key="DepartmentId" value="M023_D001"/>
    <add key="MinistryId" value="M023"/>
    <add key="LicenseIdIND" value="M023_D001_A002"/>
    <add key="LicenseIdINF" value="M023_D001_A001"/>
    <add key="LicenseIdMIN" value="M023_D001_A003"/>
    <add key="DocumentID" value="MDOC000099"/>
    <add key="IsNSWSEnalbe" value="Yes"/>
    <add key="redirectionUrl" value="https://cgwa-noc.gov.in/NSWS/NSWSToNOCAP.aspx?UserName=" />
    <add key="NSWSIpAddress" value="65.1.184.145,65.1.122.96,164.100.68.98"/>-->
    <!--End NSWS Production Key Value Pairs-->
    <!--Start NTRP PPE Key Value Pairs-->
    <!--for training-->
    <!--<add key="NTRPURI" value="https://training.pfms.gov.in/bharatkosh/bkepay"/>
    <add key="OrderContent" value="17842"/>  
    <add key="InstallationId" value="10090"/>-->
    <!--for production-->
    <add key="bharatkoshUrl" value="https://training.pfms.gov.in/bharatkosh/getstatus" />
    <add key="OrderContent" value="10791" />
    <add key="InstallationId" value="10107" />
    <!--Common-->
    <add key="NOCAPDOCSigPrivateKey" value="DS CENTRAL GROUND WATER AUTHORITY 1" />
    <add key="NTRPPublicKey" value="pkptrgapi.cga.gov.in" />
    <add key="DepartmentCode" value="002" />
    <add key="CurrencyCode" value="INR" />
    <add key="PAOCode" value="002338" />
    <add key="DDOCode" value="202417" />
    <add key="PAOName" value="002338-PAO(CGWB),Faridabad" />
    <add key="DDOName" value="202417-Officer Incharge, CGWB, Stae Unit, Jamnagar House, Man Singh Road New Delhi 110011" />
    <add key="MediaTypeAppForm" value="application/x-www-form-urlencoded" />
    <!--Start NTRP PPE Key Value Pairs-->
  </appSettings>
  <system.web>
    <sessionState cookieName="ASP.NET_SessionId"></sessionState>
    <customErrors mode="On" defaultRedirect="ExternalErrorPage.aspx">
      <error statusCode="403" redirect="ExternalErrorPage.aspx" />
      <error statusCode="404" redirect="ExternalErrorPage.aspx" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" sameSite="Strict" requireSSL="false" />
    <pages viewStateEncryptionMode="Always" enableViewStateMac="true" enableViewState="true" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.5.2">
      <assemblies>
        <!-- PMG-->
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--<httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>-->
    <!--<httpRuntime maxRequestLength="1024000000" executionTimeout="3600"/>-->
    <httpRuntime enableVersionHeader="false" maxRequestLength="1024000000" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms loginUrl="~/ExternalLogin.aspx" protection="All" timeout="20" requireSSL="false" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <globalization culture="en-GB" />
    <!-- PMG-->
    <webServices>
      <!--<protocols>  
        <remove name="Documentation"/>
      </protocols>-->
      <!-- Enable WSE 3.0 -->
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
        <!--<add name="X-Frame-Options" value="SameOrigin" />-->
        <!--<add name="Content-Type" value="text/html; charset=utf-8" />-->
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Content-security-policy" value="script-src'self'" />
        <add name="Referrer-Policy" value="script-src'self'" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc" />
        <remove name="X-AspNet-Version" />
        <!-- <add name="Access-Control-Allow-Origin" value="*" /> -->
      </customHeaders>
    </httpProtocol>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="http://10.1.14.25/nocap1/ExternalErrorPage404.htm" responseMode="Redirect" />
      <error statusCode="500" path="http://10.1.14.25/nocap1/ExternalErrorPage500.htm" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- PMG-->
  <microsoft.web.services3>
    <diagnostics>
      <trace enabled="true" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
    </diagnostics>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="2147483648" />
        <verbs>
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
      <securityTokenManager>
        <add type="UsernameAssertionLibrary.ServiceUsernameTokenManager, UsernameAssertionLibrary" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
</configuration>
<!--ProjectGuid: e505b354-e277-4501-b830-010d3ac36944-->