<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpCookies httpOnlyCookies="true"/>

      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>

  <!--<system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol>

  </system.webServer>-->  
  
  
  
</configuration>
